@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Nunito:wght@600&family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header{
   /* position: sticky;*/
    top: 0;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'Yusei Magic', sans-serif;
    color: #29b7ff;
    cursor: pointer;
}
span{
    color: rgb(255, 0, 93);
    cursor: pointer;
}
a:link {
  color: red;
}
a:visited {
  color: red;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: whitesmoke;
}

.container{
    padding: 0px 10px;
    box-sizing: border-box;
    color: rgb(135, 0, 45);
    background-color: #ffffff;

}


nav ul li{
    list-style: none;
    padding: 0px 12px;
    font-size: smaller;
    /*text-shadow: -0.1px 0 black, 0 .1px black, .1px 0 black, 0 -.1px black;*/
    color: rgb(250, 0, 83);
}

div .register a{
    color: #29b7ff;
    cursor: pointer;
    text-decoration: none;
}
div.register a:hover{
    color: bisque;
    font-weight: bold;
}

div .login a{
    color: #29b7ff;
    cursor: pointer;
    text-decoration: none;
}
div.login a:hover{
    color: bisque;
    font-weight: bold;
}
div .logout a{
    color: #29b7ff;
    cursor: pointer;
    text-decoration: none;
}
div.logout a:hover{
    color: bisque;
    font-weight: bold;
}


.bgclr{
        background-color: #172D3B;
        padding: 0px 0px;
        box-sizing: border-box;
        font-size: small;
}

.section1{
    /*background-color: rgb(8, 117, 117); */
    height: 100vh;
}

.section2{
    height: 60vh;
}
.search{
    width : 16vw;
   padding: 10px 17px;
   border: 0.5px  rgb(0, 0, 0); 
   background-color: aliceblue;
   border-radius: 5px;
}



.container nav li:hover {
    color: rgb(0, 192, 213);
    cursor: pointer;
    /*color: #00dc64;*/

}

h2{
    align-items: center;
    padding-top: 15px ;
    font-family: 'Bungee', cursive;
    font-size: 40px;
    color: #000000;
}

.latestitem{
    height: 320px;
    cursor: pointer;
}

 /* dropdown menu code -----------------------------------------------------------*/

 .dropbtn {

  font-family: "Roboto", sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #172D3B;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
}

.dropbtn:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .dropbtn {
    padding: 0.25em 0.75em;
  }
}
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #172D3B;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: rgb(255, 0, 106);}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {font-style: bold;}



  .glowbtn {
    width: 110px;
    height: 30px;
    border: none;
    outline: none;
    color: rgb(255, 0, 98);
    font-family: 'roboto',sans-serif;
    font-weight: bold;
    background: rgb(0, 225, 255);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glowbtn:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 1;
}

.glowbtn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


  /*-----------------------------------------------------------------------------*/


/*-------------------------------product image slider--------------------------------------------*/
.product {
    position: relative;
    overflow: hidden;
    padding: 10px;
  }
  
  .product-category {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
  }
  
  .product-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  
  .product-container::-webkit-scrollbar {
    display: none;
  }
   
  .product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
  }
  
  .product-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
  }
  
  .product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .discount-tag {
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #ff7d7d;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
    font-weight: bold;
  }
  
  .card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: rgb(105, 242, 249);
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
    font-family: 'roboto',sans-serif;
    font-weight:300;
  }
  
  .product-card:hover .card-btn {
    opacity: 1;
  }
  
  .card-btn:hover {
    background: #ff7d7d;
    color: rgb(255, 255, 255);
    font-weight: bold;
  }
  
  .product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
  }
  
  .product-brand {
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #172d3b;
  }
  
  .product-short-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
    color: #172D3B;
  }
  
  .price {
    font-weight: 900;
    font-size: 20px;
  }
  
  .actual-price {
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
  }
  
  
  .collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  .collection {
    position: relative;
  }
  
  .collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .collection p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
  }
  
  .collection:nth-child(3) {
    grid-column: span 2;
    margin-bottom: 10px;
  }

  /*------------------------------------------------------------------------------*/


    .prod-slider-container {
      position: relative;
      font-family: font-awesome;
      width: 100%;
      justify-content: space-between;
    }
    .items {
      transition: box-shadow .3s;  
    }
    .items img{
      width: 100%;
      cursor: pointer;
    }
    .items :hover{
      box-shadow: 0 0 50px rgb(0, 0, 0); 
    }


/*---------------------top categoiries sec---------------------------*/

.topcategories{
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
}

.topcat img{
  display: flex;
  height: auto;
  width: auto;
  max-width: 95%;

}

/*----------------------top anime--------------------------------*/

.topanime{
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 0%;
}

.topanimecat img{
  display: flex;
  max-width: 95%;
}


/*---------------------footer-----------------------------*/

.container2{
  max-width: 1170px;
	margin:auto;
}

.row{
	display: flex;
}

.footer{
	background-color: #172D3B;
    padding: 70px 0;
    font-family: 'Poppins';
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}}