@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

*{padding:0; margin:0; box-sizing: border-box; font-family:sans-serif;}
header{
	width: 100vw;
	min-height: 100vh;
	background: #29b7ff;
	font-size: 1.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container{
	background: white;
	max-width: 800px;
	min-height: 500px;
	display: flex;
	justify-content:space-between;
	align-items: flex-start;
	padding: 0.5rem 1.5rem;
}
.left{
	flex-basis: 50%;
}
.right{
	flex-basis: 50%;
}
form{
	padding: 1rem;
	font-family: 'Kanit', sans-serif;
}

h3{
	margin-top: 1rem;
	color:rgb(255, 0, 93);
	font-family: 'Kanit', sans-serif;
	}

form input[type="text"]{
	width: 100%;
	padding: 0.5rem 0.7rem;
	margin: 0.5rem 0;
	outline: none;
	font-family: 'Kanit', sans-serif;
}

#zip{
	display: flex;
	margin-top: 0.5rem;
	
}
#zip select{
	padding: 0.5rem 0.7rem;
}
#zip input[type="number"]{
	padding: 0.5rem 0.7rem;
	margin-left: 5px;	
}
input[type="submit"]{
	width: 100%;
	padding: 0.7rem 1.5rem;
	background: #29b7ff;
	color: white;
	border: none;
	outline: none;
	margin-top: 1rem;
	cursor: pointer;
	font-family: 'Kanit', sans-serif;
}

input[type="submit"]:hover{
	background: #ff0062;
}


@media only screen and (max-width: 770px){
	.container{
		flex-direction: column;
	}
	body{
		overflow-x: hidden;
	}
}

